<head>
  <html>
    <style type="text/css">
    body {
      font-family: sans-serif;
    }
    #create_report {

      padding: 0.3em;
    }
    table tr th {
      text-align:left;
    }
    td, th {
      padding:0.3em;
      border: 2px solid #cecece;
      margin:0;
    }
    th { 
      background-color: #f0f0f0;
    }
    table {
      padding:0;
      border-spacing:0;
      border-collapse:collapse;
    }
  </style>
  </head>
  <body>
    <%=@content_for_layout%>
  </body>
</html>
