<html>
  <head>
    <title>Team Performance Web Analyzer</title>
    <style>
      body { font-family: verdana; }
      h1 { margin-bottom:0.5em; }
      #top { margin-bottom: 0; width:802px; background-color:#eFeFeF; padding:10px 24px; }
    </style>
    <%=javascript_include_tag :defaults  %>
    
  </head>
  <body>
    <%=yield%>
  </body>
</html>
